@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;
@use '../helpers/functions' as *;

.qr {
    text-align: center;
    min-width: 300px;
    max-width: 200px;
    background: white;
    border-radius: pixelToRem(20px);
    padding: pixelToRem(20px) {
        bottom: pixelToRem(30px);
    }
    .qr-image {
        @include flex(center, center);
        img {
            display: block;
            border-radius: pixelToRem(20px);
            max-width: 100%;
            flex: 1;
        }
    }
    .qr-title {
        font: {
            weight: 700;
            size: 1.6rem;
        }
        color: $darkBlue;
        margin: {
            top: pixelToRem(20px);
            bottom: pixelToRem(20px);
        }
    }
    .qr-desc {
        color: #7b879d;
        font: {
            weight: 400;
            size: 1.15rem;
        }
    }
}