/*
    Prefixer Mixin
    Mixin to add Vendor Prefixes to CSS Properties
*/
@mixin prefixer($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
}

/*
    Center Position Mixin

    Mixin To Center The Element Horizontally and Vertically Using Position
*/
@mixin centerP {
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefixer(transform, translate(-50%, -50%), webkit moz o ms);
}

/*
    Media Queries Mixin

    Meaningful Media Queries 
*/
@mixin media($screenSize) {
    @if $screenSize == small {
        @media (min-width: 576px) {@content};
    }
    @else if $screenSize == medium {
        @media (min-width: 768px) {@content};
    }
    @else if $screenSize == large {
        @media (min-width: 992px) {@content};
    }
}

/* 
    Flexbox Mixin

    Mixin To Apply Flexbox Properties
*/

@mixin flex($justify-content: flex-start, $align-items: stretch, $direction: row, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}